#Force the Linguist to recognize Js/Ts/Tsx
*.js linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

#Ignoring (in the language percentage calculation) files that are not part of the core app logic
android/**/*.gradle linguist-vendored
android/**/*.kt linguist-vendored
**/*.rb linguist-vendored
**/*.swift linguist-vendored